<<<<<<< Updated upstream
/* AdminDashboard.css */

.admin-dashboard-container {
    padding: 20px;
}

.dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

=======
/* AdminDashboard.css */

.admin-dashboard-container {
    padding: 20px;
}

.dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

>>>>>>> Stashed changes
