/* AdminLogin.css */

.admin-login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .admin-login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  