* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Arial', sans-serif; 
  
}
.container{
  overflow-y:hidden;
}

.title, h3 {
  color: white;
  margin: 20px 0;
  font-size: 2rem; 
}
.h1, h2, h4, h5 {
  color: black;
}
  

.container{
  position: relative;
  display: block;
}
.nav-bar {
  background-color: #003DA5; 
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  position: sticky;
  top:0px;
  z-index: 1000;
}

.nav-link {
  transition: background-color 0.3s, border-bottom 0.3s; 
}

.instructions {
  display: flex;
  flex-wrap: wrap;
}

.step-box {
  width: 45%; 
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.brand, .options a {
  text-decoration: none; 
}

.logo {
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.options {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.options a {
  margin-left: 10px; 
}

.button {
 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s; 
}

.button:hover {
 
  color: #003DA5;
  border-bottom: 3px solid #FFF;
  background-color: white;
}

.button .link{
  color:white;
}
.button:hover > .link{
  color:#003DA5;
  }
.footer {
  background-color: #003DA5;
  color: white;
  
  height: auto;
  text-align: center;
   
  position: relative;/* Temporarily set to block to ensure visibility */

  padding: 26.5px 0px;
}

.footer-content {
  display: flex;
  justify-content: space-around; 
  align-items: start; 
  flex-wrap: wrap;
}

.footer-content div {
  margin: 10px; 
}

.footer-content h3{
  color: white;
}

.social-links a {
  color: white; 
  text-decoration: none; 
  margin: 0 10px; 
}

.social-links a:hover {
  text-decoration: underline; 
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* Briefing container styles */
.briefing-container {
  color: #003DA5;
  background-color: white;
  padding: 50px 15px 15px 15px;
  border-radius: 15px;
  height:100%;
  width: 80%; 
  margin: 50px auto; /* Keeps the container centered horizontally and adds space from the top */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth without 3D effect */
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top:20px;
}

.briefing-container:hover {
  background-color: #003DA5;
  color: white;
}