/* ReferralForm.css */
body {
    overflow-y: auto; 
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto; 
    max-height: 400px;
}

.form-group {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    color: #777;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
    color: #ccc;
}
