/* ReferralForm.css */
body {
    overflow-y: auto; 
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto; 
    max-height: 400px;
}

.form-group {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
/* ReferralForm.css */

/* Existing styles ... */

.form-group h2 {
    margin-bottom: 10px;
}

/* Styles for Referrer's Name */
.form-group label[for="referrerName"] {
    margin-top: 15px;
}

.form-group input[type="text"]#referrerName {
    margin-top: 5px;
}

/* Additional styling for better spacing and appearance if needed */


input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    color: #777;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
    color: #ccc;
}
.form-group input[type="text"],
.form-group [type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        }

.form-group .radio-buttons {
        display: flex;
        align-items: center;
        }

.form-group.radio-buttons input[type="radio"] {
        margin-right: 10px;
        }

.form-group .radio-buttons label {
        cursor: pointer;
        }